* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style-type: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: smaller;
}
body {
  padding: 0 120px;
  background-color: rgb(164, 187, 184);
  width: 100dvw;
  height: 100dvh;
}
